services:
  api:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_HOST=postgres

  postgres:
    image: postgres
#    shm_size: 128mb
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fastapi
      - POSTGRES_USER=postgres

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

#    volumes:
#      - postgres-db:/var/lib/postgresql
#
#volumes:
#  postgres_db: